html,body{
  height:100%;
}

td.listen {
  /*background-color: green !important;*/
}

table td.etablished {

}

#logo{
  float: left;
  height: 42px;
  width: 42px;
  padding-top: 2px;
}

.container[role = "main"] {
  padding-bottom: 60px;
  height:100%;
}
.container[role="main"] .row, .container[role="main"] .row .hero-unit{
  height:100%;
}

.container[role="main"] .row .hero-unit{
  background-image: url(../images/200-50-3png);
  background-repeat:repeat;
  background-color: rgb(69, 185, 116); /* The Fallback */
  background-color: rgba(69, 185, 116, 0.57);
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p{
  margin: 10px 0px;
}

